matplotlib
Pillow
peft
accelerate
codetiming
datasets
dill
flash-attn
hydra-core
jieba
numpy
openai
pandas
pybind11
PyYAML
ray>=2.10
safetensors
tensordict<0.6
setuptools
tqdm
transformers
vllm==0.6.3
wandb
gymnasium

pyarrow>=15.0.0
pylatexenc
torchdata
liger_kernel
rouge-score
